#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 > #backgroundBox {
  position: absolute;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_1 {
  position: absolute;
  width: 11.50494384765625px;
  height: 22.97259521484375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_2 {
  position: absolute;
  width: 17.796478271484375px;
  height: 16.343658447265625px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_3 {
  position: absolute;
  width: 14.65887451171875px;
  height: 88.18212890625px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_4 {
  position: absolute;
  width: 10.973358154296875px;
  height: 17.4818115234375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_5 {
  position: absolute;
  width: 97.69254302978516px;
  height: 133.07022094726562px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_6 {
  position: absolute;
  width: 104.51995849609375px;
  height: 88.2874755859375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_7 {
  position: absolute;
  width: 75.35430908203125px;
  height: 85.63992309570312px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_8 {
  position: absolute;
  width: 7.05548095703125px;
  height: 39.75177001953125px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_9 {
  position: absolute;
  width: 41.793540954589844px;
  height: 42.85234832763672px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_10 {
  position: absolute;
  width: 40.33087158203125px;
  height: 42.11150360107422px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_11 {
  position: absolute;
  width: 22.53424072265625px;
  height: 23.930877685546875px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_12 {
  position: absolute;
  width: 13.600799560546875px;
  height: 9.750274658203125px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_13 {
  position: absolute;
  width: 16.63427734375px;
  height: 22.109281539916992px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Circle_1 {
  position: absolute;
  width: 114.70681762695312px;
  height: 114.71477508544922px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Circle_2 {
  position: absolute;
  width: 114.70683288574219px;
  height: 114.71478271484375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_14 {
  position: absolute;
  width: 104.39958190917969px;
  height: 104.39743041992188px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Polygon_1 {
  position: absolute;
  width: 90.68975830078125px;
  height: 82.75238037109375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Path_16 {
  position: absolute;
  width: 90.628662109375px;
  height: 18.4381103515625px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Polygon_2 {
  position: absolute;
  width: 98.64834594726562px;
  height: 11.19677734375px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Polygon_3 {
  position: absolute;
  width: 84.19747924804688px;
  height: 3.9022216796875px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #7E7DF1 44.610596276902406%, #312FEF 101.38236171236655%);
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 {
  position: absolute;
  width: 49.000000000000064px;
  min-height: 9.999999999999952px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #5453C3;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Ellipse_2 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_1 {
  position: absolute;
  width: 192.13800048828136px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_2 span {
  color: #787878;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #787878;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_4 {
  position: absolute;
  width: 36.43199920654297px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_4 span {
  color: #31636E;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #31636E;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-13dbc5d4-b32c-4f0c-a240-68c3fd7269f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}