#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 > #backgroundBox {
  position: absolute;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 {
  position: absolute;
  width: 158.00000000000023px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #5453C3;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 {
  position: absolute;
  width: 174.5px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 > .backgroundLayer > .colorLayer {
  background-color: #7E7DF1;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_10 {
  position: absolute;
  width: 89.99999999999943px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_10 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_17 {
  position: absolute;
  width: 62.22070312500023px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 {
  position: absolute;
  width: 476.0000000000003px;
  min-height: 240.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(78,182,204,0.25);
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_15 {
  position: absolute;
  width: 167.9999999999999px;
  min-height: 26.359374999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_15 span {
  color: #2E5B64;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #2E5B64;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_11 span {
  color: #2E5B64;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #2E5B64;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-30442029-67bc-4ce6-9a1e-0a9e159e5008 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}