#s-75979555-4580-4614-bf16-2e871a2903c0 > #backgroundBox {
  position: absolute;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_69 {
  position: absolute;
  width: 16.039901733398438px;
  height: 12.957427978515625px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_70 {
  position: absolute;
  width: 88.33247375488281px;
  height: 63.74382019042969px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_71 {
  position: absolute;
  width: 34.809173583984375px;
  height: 18.16522216796875px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Circle_3 {
  position: absolute;
  width: 91.28953552246094px;
  height: 90.94174194335938px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Circle_4 {
  position: absolute;
  width: 90.99507904052734px;
  height: 91.00139617919922px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_72 {
  position: absolute;
  width: 82.645263671875px;
  height: 82.72669219970703px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_74 {
  position: absolute;
  width: 100.21087646484375px;
  height: 123.784912109375px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_75 {
  position: absolute;
  width: 63.587249755859375px;
  height: 92.19049072265625px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_76 {
  position: absolute;
  width: 26.588348388671875px;
  height: 16.98712158203125px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_77 {
  position: absolute;
  width: 63.07061767578125px;
  height: 128.34063720703125px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_78 {
  position: absolute;
  width: 27.5001220703125px;
  height: 24.36663818359375px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_79 {
  position: absolute;
  width: 67.39117431640625px;
  height: 91.18733215332031px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_80 {
  position: absolute;
  width: 57.227630615234375px;
  height: 58.472412109375px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_81 {
  position: absolute;
  width: 18.041748046875px;
  height: 11.156585693359375px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_82 {
  position: absolute;
  width: 92.79879760742188px;
  height: 67.30511474609375px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_83 {
  position: absolute;
  width: 14.645233154296875px;
  height: 10.70928955078125px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_84 {
  position: absolute;
  width: 27.53826904296875px;
  height: 27.298633575439453px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Path_85 {
  position: absolute;
  width: 32.715118408203125px;
  height: 35.858062744140625px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #7E7DF1 44.610596276902406%, #312FEF 101.38236171236655%);
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 {
  position: absolute;
  width: 49.000000000000064px;
  min-height: 9.999999999999952px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #5453C3;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Ellipse_2 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_1 {
  position: absolute;
  width: 229.00000000000006px;
  min-height: 99.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_2 span {
  color: #787878;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #787878;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_4 {
  position: absolute;
  width: 36.43199920654297px;
  min-height: 40.00000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_4 span {
  color: #31636E;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #31636E;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-75979555-4580-4614-bf16-2e871a2903c0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}