#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 > #backgroundBox {
  position: absolute;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_1 {
  position: absolute;
  width: 116.02029418945312px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_2 {
  position: absolute;
  width: 61.66947937011719px;
  height: 10.3330078125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_1 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_2 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_3 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_4 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_5 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_6 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_7 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_8 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_9 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_10 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_11 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_3 {
  position: absolute;
  width: 1.27227783203125px;
  height: 10.33184814453125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_4 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_5 {
  position: absolute;
  width: 116.01028442382812px;
  height: 10.32855224609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_6 {
  position: absolute;
  width: 61.66947937011719px;
  height: 10.32977294921875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_12 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_13 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_14 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_15 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_16 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_17 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_18 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_19 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_20 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_21 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_22 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_7 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.32855224609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_8 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_9 {
  position: absolute;
  width: 115.99932861328125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_10 {
  position: absolute;
  width: 61.668609619140625px;
  height: 10.33258056640625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_23 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_24 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_25 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_26 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_27 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_28 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_29 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_30 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_31 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_32 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_33 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_11 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_12 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_13 {
  position: absolute;
  width: 116.01361083984375px;
  height: 10.31683349609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_14 {
  position: absolute;
  width: 61.66947937011719px;
  height: 10.3173828125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_34 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_35 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_36 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_37 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_38 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_39 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_40 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_41 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_42 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_43 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_44 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_15 {
  position: absolute;
  width: 1.2587890625px;
  height: 10.32861328125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_16 {
  position: absolute;
  width: 1.2587890625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_17 {
  position: absolute;
  width: 116.03175354003906px;
  height: 10.3150634765625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_18 {
  position: absolute;
  width: 61.67079162597656px;
  height: 10.332275390625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_45 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_46 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_47 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_48 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_49 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_50 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_51 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_52 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_53 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_54 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_55 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_19 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_20 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_21 {
  position: absolute;
  width: 115.99729919433594px;
  height: 10.33184814453125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_22 {
  position: absolute;
  width: 61.66949462890625px;
  height: 10.31573486328125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_56 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_57 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_58 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_59 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_60 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_61 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_62 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_63 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_64 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_65 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_66 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.3284912109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_23 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.32855224609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_24 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_25 {
  position: absolute;
  width: 115.99948120117188px;
  height: 10.33184814453125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_26 {
  position: absolute;
  width: 61.66871643066406px;
  height: 10.33245849609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_67 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_68 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_69 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_70 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_71 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_72 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_73 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_74 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_75 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_76 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_77 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_27 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.3385009765625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_28 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_29 {
  position: absolute;
  width: 116.01025390625px;
  height: 10.3150634765625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_30 {
  position: absolute;
  width: 61.672821044921875px;
  height: 10.319580078125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_78 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_79 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_80 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_81 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_82 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_83 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_84 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_85 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_86 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_87 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_88 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_31 {
  position: absolute;
  width: 1.2420654296875px;
  height: 10.331787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_32 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_33 {
  position: absolute;
  width: 116.01376342773438px;
  height: 10.328460693359375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_34 {
  position: absolute;
  width: 61.669464111328125px;
  height: 10.32965087890625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_89 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_90 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_91 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_92 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_93 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_94 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_95 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_96 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_97 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_98 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_99 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_35 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.328521728515625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_36 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_37 {
  position: absolute;
  width: 116.00148010253906px;
  height: 10.31512451171875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_38 {
  position: absolute;
  width: 61.66401672363281px;
  height: 10.318878173828125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_100 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_101 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_102 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_103 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_104 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_105 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_106 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_107 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_108 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_109 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_110 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_39 {
  position: absolute;
  width: 1.2587890625px;
  height: 10.33282470703125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_40 {
  position: absolute;
  width: 1.2587890625px;
  height: 10.02716064453125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_41 {
  position: absolute;
  width: 116.02029418945312px;
  height: 10.32855224609375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_42 {
  position: absolute;
  width: 61.66947937011719px;
  height: 10.3297119140625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_111 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_112 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_113 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_114 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_115 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_116 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_117 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_118 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_119 {
  position: absolute;
  width: 1.258819580078125px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_120 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rect_121 {
  position: absolute;
  width: 1.25885009765625px;
  height: 10.331817626953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_43 {
  position: absolute;
  width: 1.27227783203125px;
  height: 10.328521728515625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_44 {
  position: absolute;
  width: 1.2554931640625px;
  height: 10.04388427734375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Circle_1 {
  position: absolute;
  width: 105.29951477050781px;
  height: 105.306884765625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Circle_2 {
  position: absolute;
  width: 105.29952239990234px;
  height: 105.30679321289062px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_45 {
  position: absolute;
  width: 95.83208465576172px;
  height: 95.832275390625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_47 {
  position: absolute;
  width: 40.601531982421875px;
  height: 14.524932861328125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_48 {
  position: absolute;
  width: 24.166717529296875px;
  height: 45.37286376953125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_49 {
  position: absolute;
  width: 22.22796630859375px;
  height: 24.290771484375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_50 {
  position: absolute;
  width: 35.9041748046875px;
  height: 22.528076171875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_51 {
  position: absolute;
  width: 28.47662353515625px;
  height: 7.164306640625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_52 {
  position: absolute;
  width: 31.082489013671875px;
  height: 67.107666015625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_53 {
  position: absolute;
  width: 131.97879028320312px;
  height: 86.06668090820312px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_54 {
  position: absolute;
  width: 68.26593017578125px;
  height: 77.69259643554688px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_55 {
  position: absolute;
  width: 18.283721923828125px;
  height: 20.266464233398438px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_56 {
  position: absolute;
  width: 12.434326171875px;
  height: 12.260238647460938px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_57 {
  position: absolute;
  width: 24.262847900390625px;
  height: 29.929962158203125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_58 {
  position: absolute;
  width: 28.511260986328125px;
  height: 14.542293548583984px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_59 {
  position: absolute;
  width: 8.80322265625px;
  height: 19.118228912353516px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_60 {
  position: absolute;
  width: 45.654876708984375px;
  height: 65.26383972167969px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_61 {
  position: absolute;
  width: 22.612152099609375px;
  height: 53.63409423828125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_62 {
  position: absolute;
  width: 28.49786376953125px;
  height: 52.96177673339844px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_63 {
  position: absolute;
  width: 32.57566833496094px;
  height: 36.677581787109375px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_64 {
  position: absolute;
  width: 18.442962646484375px;
  height: 6.40087890625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_65 {
  position: absolute;
  width: 42.403533935546875px;
  height: 66.23272705078125px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_66 {
  position: absolute;
  width: 4.07781982421875px;
  height: 3.41070556640625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_67 {
  position: absolute;
  width: 6.361114501953125px;
  height: 3.5009765625px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Polygon_1 {
  position: absolute;
  width: 65.29867553710938px;
  height: 37.550750732421875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Polygon_2 {
  position: absolute;
  width: 66.2896728515625px;
  height: 1.46307373046875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Path_68 {
  position: absolute;
  width: 4.974609375px;
  height: 4.777557373046875px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 {
  position: absolute;
  width: 49.000000000000064px;
  min-height: 9.999999999999952px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #5453C3;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Ellipse_2 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #5453C3;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #7E7DF1 44.610596276902406%, #312FEF 101.38236171236655%);
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_1 {
  position: absolute;
  width: 192.13800048828136px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_2 span {
  color: #787878;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #787878;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_4 {
  position: absolute;
  width: 36.43199920654297px;
  min-height: 40.00000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_4 span {
  color: #31636E;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #31636E;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-880cbb20-8fd2-4046-ad4d-ab8e363e38b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}