#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 > #backgroundBox {
  position: absolute;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 {
  position: absolute;
  width: 333.0000000000001px;
  min-height: 438.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(78,182,204,0.28);
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 {
  position: absolute;
  width: 245.00000000000003px;
  min-height: 34.00000000000004px;
  opacity: 0.54;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 > .borderLayer {
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: #336873;
  border-right-width: 0.5px;
  border-right-style: solid;
  border-right-color: #336873;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #336873;
  border-left-width: 0.5px;
  border-left-style: solid;
  border-left-color: #336873;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 span {
  color: #346A75;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #346A75;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_5 {
  position: absolute;
  width: 201.05859375px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_5 span {
  color: #346A75;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #346A75;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Union_1 {
  position: absolute;
  width: 317.40716552734375px;
  height: 1.0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_3 {
  position: absolute;
  width: 107.04403686523449px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_3 span {
  color: #336873;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #336873;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Image_2 {
  position: absolute;
  width: 120.0px;
  height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Image_1 {
  position: absolute;
  width: 270.0px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 {
  position: absolute;
  width: 286.0px;
  min-height: 44.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.000000000000114px;
  border-top-right-radius: 22.000000000000114px;
  border-bottom-right-radius: 22.000000000000114px;
  border-bottom-left-radius: 22.000000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(131.9519294907118deg, #7E7DF1 47.09400967979918%, #312FEF 92.99843378474151%);
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 > .borderLayer {
  border-top-left-radius: 22.000000000000114px;
  border-top-right-radius: 22.000000000000114px;
  border-bottom-right-radius: 22.000000000000114px;
  border-bottom-left-radius: 22.000000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.000000000000114px;
  border-top-right-radius: 22.000000000000114px;
  border-bottom-right-radius: 22.000000000000114px;
  border-bottom-left-radius: 22.000000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 39.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(128.5457297288399deg, #7E7DF1 47.84531526626037%, #312FEF 90.462049032543%);
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 > .borderLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 {
  position: absolute;
  width: 286.0px;
  min-height: 39.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(128.5457297288399deg, #7E7DF1 47.84531526626037%, #312FEF 90.462049032543%);
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 > .borderLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 19.500000000000114px;
  border-top-right-radius: 19.500000000000114px;
  border-bottom-right-radius: 19.500000000000114px;
  border-bottom-left-radius: 19.500000000000114px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d2dac22-6bc5-4824-b82f-1f89355c1d48 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}