#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 > #backgroundBox {
  position: absolute;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 {
  position: absolute;
  width: 333.0000000000001px;
  min-height: 347.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(78,182,204,0.28);
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Union_1 {
  position: absolute;
  width: 317.40716552734375px;
  height: 1.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Paragraph_3 {
  position: absolute;
  width: 107.04403686523449px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Paragraph_3 span {
  color: #336873;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #336873;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Image_2 {
  position: absolute;
  width: 120.0px;
  height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Image_1 {
  position: absolute;
  width: 270.0px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #7E7DF1 44.610596276902406%, #312FEF 101.38236171236655%);
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #7E7DF1 44.610596276902406%, #312FEF 101.38236171236655%);
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a1dfadcc-17a0-4676-b5e6-0e9fedfd86f1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}