#s-a785ec58-900f-4c26-b325-23f159066ddd > #backgroundBox {
  position: absolute;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 {
  position: absolute;
  width: 286.0px;
  min-height: 59.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(140.31912963515157deg, #C8C8D1 44.610596276902406%, #616164 101.38236171236655%);
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 > .borderLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 29.0px;
  border-top-right-radius: 29.0px;
  border-bottom-right-radius: 29.0px;
  border-bottom-left-radius: 29.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 {
  position: absolute;
  width: 333.0000000000001px;
  min-height: 438.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(78,182,204,0.28);
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 {
  position: absolute;
  width: 245.00000000000003px;
  min-height: 34.00000000000004px;
  opacity: 0.54;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 > .borderLayer {
  border-top-width: 0.5px;
  border-top-style: solid;
  border-top-color: #336873;
  border-right-width: 0.5px;
  border-right-style: solid;
  border-right-color: #336873;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: #336873;
  border-left-width: 0.5px;
  border-left-style: solid;
  border-left-color: #336873;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 span {
  color: #346A75;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #346A75;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_5 span {
  color: #346A75;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #346A75;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_4 {
  position: absolute;
  width: 51.182000160217314px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_4 span {
  color: #336772;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #336772;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Union_1 {
  position: absolute;
  width: 317.40716552734375px;
  height: 1.0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Image_2 {
  position: absolute;
  width: 120.00000000000006px;
  height: 116.75675675675683px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_3 {
  position: absolute;
  width: 240.04403686523438px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_3 span {
  color: #336873;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #336873;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd #s-Image_1 {
  position: absolute;
  width: 270.0px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a785ec58-900f-4c26-b325-23f159066ddd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}